# logs
logs

# Specific
Specific/config.php
Specific/config.system.php
Specific/INSTALL_DISABLED

# Composer stuff
composer.lock
vendor/bin
vendor/composer
vendor/friendsofphp
vendor/psr
vendor/sebastian
vendor/symfony
vendor/twig
vendor/autoload.php

# Build
/build

# Vim
.*.swp
